:root {
  --bg: #111;
}

.nav-wrapper {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav-logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 36px;
  list-style: none;
}

.nav-menu li {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.nav-menu li::before {
  content: "";
  position: absolute;
  inset: 12px;
  border-radius: 50%;
  border: 2px solid var(--clr);
  box-shadow: 0 0 6px var(--clr), 0 0 14px var(--clr);
  transition: 0.3s ease;
  opacity: 0.7;
}

.nav-menu li:hover::before {
  inset: 4px;
  box-shadow: 0 0 10px var(--clr), 0 0 25px var(--clr);
  opacity: 1;
}

.nav-menu li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu li a i {
  font-size: 1.4rem;
  color: var(--clr);
  opacity: 0;
  transform: scale(0.2);
  transition: 0.3s ease;
}

.nav-menu li:hover a i {
  opacity: 1;
  transform: scale(1);
}
